.use_cases{
  margin: 300px 0;
  h1{
    color: #CAFF33;
  }
  p{
    color: #B3B3B3;
  }
  &_icons{
    background-color: #1C1C1C;
    width: 40vw;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    .icon_block{
      width: 40%;
      position: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #191919;
      height: fit-content;
      .icon{}
      .title{
        p{
          color: #FFFFFF;
        }
      }
    }
  }
}