.home{
  width: 80vw;
  margin: 0 auto;
  box-sizing: border-box;
}
.home_background{
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  z-index: -1;
}
.welcome{
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &_title{
    width: 50%;
  }
  .tick{
    background-color: #262626;
    fill: #CAFF33;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 2vw;
    padding: 0 15px;
    p{
      color: #FFFFFF;
      margin-left: 20px;
      font-size: 1.5vw;
    }
  }
  .title{
    h1{
      color: #FFFFFF;
      font-size: 3vw;
    }
    p{
      color: #E3E3E7;
      font-size: 1.5vw;
    }
    span{
      color: #CAFF33;
    }
    button{
      background-color: #CAFF33;
      border-radius: 3vw;
      padding: 1vw;
      font-size: 2vw;
      border: none;
    }
  }
}

//////////////////////////////////
.welcome_convertor{
  position: relative;
  //width: 35%;
}
.arrows_img{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.welcome_transactions{
  width: 30vw;
  height: fit-content;
  margin: 0 auto;
  position: relative;
  padding: 30px;
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  border-radius: 1vw;
  .monthly_income{
    position: absolute;
    height: 5vw;
    top: -7%;
    left: -12%;
  }
  .currency_row{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 50%;
  }
  .supported_currency{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: #22251B;
    justify-content: space-between;
    border-radius: 2vw;
    padding: 1px 1vw;
    img{
      height: 3.5vw;
    }
  }
  p{
    color: #FFFFFF;
    font-size: 1vw;
  }
  &:after{
    content: "";
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    inset: -1px;
    background: repeating-conic-gradient(from var(--a), #465029 0%, #465029 5%,
            transparent 5%, transparent 5%, transparent 40%, #465029 50%);
    animation: animate 10s linear infinite;
  }
}

@media(max-width: 774px){
  .welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    &_title{
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .title{
        h1{
          font-size: 6vw;
        }
        p{
          font-size: 3.5vw;
        }
        button{
          font-size: 5vw;
          padding: 3vw;
        }
      }
    }
    &_convertor{
      margin-top: 10vw;
      .welcome_transactions{
        width: 60vw;
        .monthly_income{
          height: 9vw;
        }
        p{
          font-size: 2.5vw;
        }
        .money_exchange{
          .supported_currency{
            p{
              font-size: 2.1vw;
            }
            img{
              height: 6.5vw;
            }
          }
        }
      }
    }
  }
}


@property --a{
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate {
  0%{
    --a: 0deg;
  }
  100%{
    --a: 360deg
  }
}
