.our_values{
  display: flex;
  flex-direction: column;
  &__top{
    h1{
      color: #FFFFFF;
      span{
        color: #CAFF33;
      }
    }
    p{
      color: #b3b3b3;
    }
  }
  .values{
    .value{
      border-left: 0.9px solid #CAFF33;
      h1{
        color: #4C4C4D;
      }
      p{
        color: #B3B3B3;
      }
    }
  }
}