.our_values{
  display: flex;
  flex-direction: column;
  &__top{
    h1{
      color: #FFFFFF;
      span{
        color: #CAFF33;
      }
    }
    p{
      color: #b3b3b3;
    }
  }
  .values{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5vw;
    .value{
      border-left: 1px solid #CAFF33;
      padding-left: 1vw;
      h1{
        margin-top: 0;
        color: #4C4C4D;
      }
      p{
        color: #B3B3B3;
      }
    }
  }
}